@import 'modules/reset';
@import 'modules/vars';
@import 'modules/splash';

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: $light-white;
    font-family: $main-type;
    color: $purple;
}

main {
    margin: 0 3em;
}