.things {
    display: flex;
    flex-direction: column;
    justify-content: left;

        a:not(:last-child) {
            padding-bottom: 10px;
        }
        &-button:focus {
            font-style: italic;
            font-weight: bold;
        }
}


.thing__panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 300px;
    margin-top: 20px;

    .thing__image {
        padding-bottom: 16px;
    }
    .thing__name-of-1 {
        font-style: italic;
        font-weight: bold;
    }
    .thing__name-of-2 {
        font-style: italic;
        font-weight: bold;
    }
    .thing__name-of-3 {
        font-style: italic;
        font-weight: bold;
    }
    .thing__title {
        margin-bottom: 16px;
    }
    .thing__description {
        margin-bottom: 16px;
    }
}



