// Colours

$purple: #69488e;
$light-white: #e5e1e6;

// Typography
$main-type: 'DM Sans', sans-serif;
// Mobile first

$title-mobile: 1.875rem;
$title-desktop: 2.5rem;
$link-mobile: 1.25rem;
$link-desktop: 3.75rem;
$discoverBtn: 1.25rem;


h2 {
    font-size: $title-mobile;
    font-weight: 400;
    line-height: 1.5em;

}

// miscellaneous

a {
    color: inherit;
    font-size: $link-mobile;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;

    a:active { color: inherit; }
    A:hover { font-style: italic; }
}

span { text-decoration: underline; }



// Helper classes

.hidden { display: none !important; }
.show { display: block; }